<nav class="light-green darken-4">
    <div class="nav-wrapper">
        <a href="/acceuil" class="brand-logo">
            <i class="material-icons">games</i>
        </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/acceuil">Acceuil</a></li>
                <li><a href="/compte">Compte</a></li>
                <li><a href="/admin">Administrateur</a></li>
            </ul>
    </div>
</nav>