<!--ceci est la composante barre de naviagation pour toute les pages-->
<nav class="light-green darken-4">
    <!--ceci est le wrapper de la barre de navigation-->
    <div class="nav-wrapper">
        <!--ceci est le lien pour se diriger vers la page acceuil a l'aide du logo-->
        <a href="/acceuil" class="brand-logo">
            <!--ceci est le logo de games-->
            <i class="material-icons">games</i>
        </a>
        <!--ceci est la liste de lien poue chacune des pages-->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!--ceci est le lien pour se diriger vers la page acceuil-->
            <li><a href="/acceuil">Acceuil</a></li>
            <!--ceci est le lien pour se diriger vers la page compte-->
            <li><a href="/compte">Compte</a></li>
            <!--ceci est le lien pour se diriger vers la page admin-->
            <li><a href="/admin">Administrateur</a></li>
            <!--ceci est le lien pour se diriger vers la page de connexion-->
            <li><a href="/connexion">Connexion</a></li>
            <!--ceci est le lien pour se diriger vers la page de Inscription-->
            <li><a href="/inscription">Inscription</a></li>
            <!--ceci est le lien pour se diriger vers la page de Deconnexion-->
            <li>
                <form method="post" action="/deconnexion">
                    <input type="submit" value="Déconnexion">
                </form>
            </li>
        </ul>
    </div>
</nav>