 <div id="message-cookie">
          <p>Ce site web utilise des cookies. Si vous naviguez sur ce site web, vous acceptez l'utilisation des cookies.</p>
            <button type="submit" class="btn-cookie  pulse" id="button-cookie">Accepter</button>
</div>