<div class="acceuil-container">
    {{#each tournois}}
        <div class="headerTournoi">
            <div class="inheaderTournoi">
                <div class = "logoTournoi">
                    <h1>Tournois de Jeu Video</h1>
                        {{>tournoi-info}} 
                        {{>bouton-desinscrire}} 
                </div>
            </div>     
        </div>
    {{/each}}
</div>