<div class="header">
        <div class="inheader">
            <div class = "logo">
                <h1>Tournois</h1>
            </div>
                    <ul class="navigation">
                        <a href="/acceuil"><li>Acceuil</li></a>
                        <a href="/compte"><li>Compte</li></a>
                        <a href="/admin"><li>Administrateur</li></a>
                    </ul>

        </div>
    </div>