<!--ceci est le label nom pour le formulaire ajouter tournoi de la page admin--> 
<label>
    Nom*
        <input placeholder="Nom" required autocomplete="off" type="text" id="nom-tournoi">
        <div id="error-nom-tournoi" class="error"></div>
</label>