<label>
    Nom*
        <input placeholder="Nom" required autocomplete="off" type="text" id="nom-tournoi" minlength="2" maxlength="50">
        <div id="error-nom-tournoi" class="error"></div>
</label>