<!--ceci est le label et input courriel utilisateur pour le formulaire connexion et inscription de la page connexion et inscription--> 
<label>
    Courriel d'utilisateur:*
    <input type="email" id="input-courriel-utilisateur" required>
    <div id="error-courriel-authentification" class="error"></div>
</label>