<!--ceci est le label et input capacite pour le formulaire ajouter tournoi de la page admin--> 
<label>
    Capacite*
        <input placeholder="Capacite" required autocomplete="off" type="number" id="capacite-tournoi" min="1" max="16">
        <div id="error-capacite" class="error"></div>
</label>