<label>
    Date debut*
        <input placeholder="Date debut" required autocomplete="off" type="date" id="date-debut-tournoi" min="2022-01-01">
        <div id="error-date" class="error"></div>
</label>