<!--ceci est le label et input nom utilisateur pour le formulaire inscription de la page inscription--> 
<label>
    Nom d'utilisateur:*
    <input type="text" id="input-nom-utilisateur" required>
    <div id="error-nom-authentification" class="error"></div>
</label>