<!--ceci est le label et input prenom utilisateur pour le formulaire inscription de la page inscription--> 
<label>
    Prenom d'utilisateur:*
    <input type="text" id="input-prenom-utilisateur" required>
    <div id="error-prenom-authentification" class="error"></div>
</label>