<!--ceci est le label date pour le formulaire ajouter tournoi de la page admin--> 
<label>
    Date debut*
        <input placeholder="Date debut" required autocomplete="off" type="date" id="date-debut-tournoi">
        <div id="error-date" class="error"></div>
</label>