<!--ceci est le label et input mot de passe utilisateur pour le formulaire connexion et inscription de la page connexion et inscription--> 

<label>
    Mot de passe:*
    <input type="password" id="input-mot-de-passe" required>
    <div id="error-MotDePasse-authentification" class="error"></div>
</label>