<!--ceci est le label description pour le formulaire ajouter tournoi de la page admin--> 
<label>
    Description*
        <textarea placeholder="Description" required autocomplete="off" type="text" id="description-tournoi" minlength="10" maxlength="50"></textarea>
        <div id="error-description" class="error"></div>
</label>