<div class="grid-example col s12">
    <form action=`http://localhost:${process.env.PORT}/admin` method="post">
        {{>label-input-Nom-form-admin}}
        {{>label-textarea-Description-form-admin}}
        {{>label-input-Date-form-admin}}
        {{>label-input-Capacite-form-admin}}
        {{>bouton-reset-form-admin }}
        {{>bouton-ajouter-tournoi-form-admin}}
    </form>
</div>