<!--ceci est le wrapper pour le formulaire ajouter tournoi de la page admin--> 
<div class="form-admin-wrapper" >
<!--ceci est le formulaire ajouter tournoi de la page admin-->  
    <form class="form-admin" id="form-admin" novalidate>
<!--ceci sont tous les composantes du formulaire ajouter tournoi de la page admin--> 
        {{>label-input-Nom-form-admin}}
        {{>label-textarea-Description-form-admin}}
        {{>label-input-Date-form-admin}}
        {{>label-input-Capacite-form-admin}}
        {{>bouton-reset-form-admin }}
        {{>bouton-ajouter-tournoi-form-admin}}
    </form>
</div>