{{#each tournois}}
    <div class="grid-example col s12 m6">
        <div class="tournoi-card">   
            <div class="card">
                {{>tournoi-info}} 
                    <div class="card-background">
                        {{>bouton-supprimer-admin}} 
                    </div>
            </div>  
        </div>
    </div>
{{/each}}