<!--ceci est le wrapper pour la carte info tournoi-->
<div class="tournoi-card-info">
<!--ceci est l'image et le title d un tournoi-->
    <div class="card-image">
        <img src="/img/2208_w023_n003_2818b_p1_2818.jpg">
            <span class="card-title">Tournoi Info</span>
    </div>
<!--ceci est les wrappers pour la carte info tournoi-->
        <div class ="card-content">
            <div class=" card-content">   
<!-- voici les composantes pour montrer que les donnees d un tournoi-->   
                {{>output-NumeroTournoi-tournoi-info}}
                {{>output-Nom-tournoi-info}}
                {{>output-Description-tournoi-info}}
                {{>output-Capacite-tournoi-info}}
                {{>output-DateDebut-tournoi-info}}
            </div>
        </div>
</div>