
<!--composante pour montrer que l administarteur peut suprimer un tournoi-->  
    {{>supprimer-tournoi-admin}}

<!--composante pour montrer que l administarteur peut ajouter un tournoi a l'aide d un formulaire-->  
<div class="container">
    {{>rajouter-tournoi-form-admin}}
</div>
