  <div class="tournois">

            <figure>
                <img src="./valorant-finalreview-blogroll-1591393688330_160w.jpg" alt="">
                <figcaption>
                    <p>Tournoi de valorant</p>
                    <p>tournoir</p>
                </figcaption>
                <Button>Supprimer</Button>

            </figure>

            <figure>
                <img src="./valorant-finalreview-blogroll-1591393688330_160w.jpg" alt="">
                <figcaption>
                    <p>Tournoi de valorant</p>
                    <p>tournoir</p>
                </figcaption>
                <Button>Supprimer</Button>
            </figure>

            <figure>
                <img src="./valorant-finalreview-blogroll-1591393688330_160w.jpg" alt="">
                <figcaption>
                    <p>Tournoi de valorant</p>
                    <p>tournoir</p>
                </figcaption>
                <Button>Supprimer</Button>

            </figure>

            <figure>
                <img src="./valorant-finalreview-blogroll-1591393688330_160w.jpg" alt="">
                <figcaption>
                    <p>Tournoi de valorant</p>
                    <p>tournoir</p>
                </figcaption>
                <Button>Supprimer</Button>

            </figure>
        </div>

        <div class="form-admin-wrapper">
            <h1>Ajouter Tournoi</h1>
            <form action="">
                <label>
                    Nom
                    <input placeholder="Nom" required autocomplete="off" type="text" id="nom-tournoi">
                </label>

                <label>
                    Description
                    <input placeholder="Description" required autocomplete="off" type="text" id="description-tournoi">
                </label>

                <label>
                    Date debut
                    <input placeholder="Date debut" required autocomplete="off" type="date" id="date-debut-tournoi">
                </label>

                <label>
                    Capacite
                    <input placeholder="Capacite" required autocomplete="off" type="number" id="capacite-tournoi"  min="1" max="12">
                </label>
                <button type="reset" class="btn-ajouter-tournoi">Reset Tournoi</button> 
                <br>
                <button type="submit" class="btn-ajouter-tournoi">Ajouter Tournoi</button> 
            </form>
        </div>

        <script defer src="/javascript/admin.js"></script>