  <div class="tournois">

            <figure>
                <img src="./valorant-finalreview-blogroll-1591393688330_160w.jpg" alt="">
                <figcaption>
                    <p>Tournoi de valorant</p>
                    <p>tournoir</p>
                </figcaption>
                <Button>Supprimer</Button>

            </figure>

            <figure>
                <img src="./valorant-finalreview-blogroll-1591393688330_160w.jpg" alt="">
                <figcaption>
                    <p>Tournoi de valorant</p>
                    <p>tournoir</p>
                </figcaption>
                <Button>Supprimer</Button>
            </figure>

            <figure>
                <img src="./valorant-finalreview-blogroll-1591393688330_160w.jpg" alt="">
                <figcaption>
                    <p>Tournoi de valorant</p>
                    <p>tournoir</p>
                </figcaption>
                <Button>Supprimer</Button>

            </figure>

            <figure>
                <img src="./valorant-finalreview-blogroll-1591393688330_160w.jpg" alt="">
                <figcaption>
                    <p>Tournoi de valorant</p>
                    <p>tournoir</p>
                </figcaption>
                <Button>Supprimer</Button>

            </figure>
        </div>

        <div class="form-wrapper">
            <h1>Ajouter Tournoi</h1>
            <form action="">
                <label>
                    Nom
                    <input type="text">
                </label>

                <label>
                    Descrition
                    <input type="text">
                </label>

                <label>
                    Date debut
                    <input type="date">
                </label>

                <label>
                    Capacite
                    <input type="number">
                </label>
                <input type="submit" name="" id="">
            </form>
        </div>