  <div class="tournoi-supprimer-wrapper"
  {{>gerer-tournoi}}
  
        <div class="form-admin-wrapper">
            
            <form action="http://localhost:5000/admin" method="post">
                <label>
                    Nom
                    <input placeholder="Nom" required autocomplete="off" type="text" id="nom-tournoi">
                </label>

                <label>
                    Description
                    <input placeholder="Description" required autocomplete="off" type="text" id="description-tournoi">
                </label>

                <label>
                    Date debut
                    <input placeholder="Date debut" required autocomplete="off" type="date" id="date-debut-tournoi" min="2022-01-01">
                </label>

                <label>
                    Capacite
                    <input placeholder="Capacite" required autocomplete="off" type="number" id="capacite-tournoi" min="1" max="16">
                </label>
                <button type="reset" class="btn-ajouter-tournoi">Reset Tournoi</button> 
                <br>
                <button type="submit" class="btn-ajouter-tournoi">Ajouter Tournoi</button> 
            </form>
        </div>
</div>


       