<div class ="container-auth">
    <!--composante pour montrer que l utilisateur peut avoir acces au site Web a l'aide d un formulaire authentification--> 
    <div class="container">
        <div class="form-authentification-wrapper" >
            <!--ceci est le formulaire authentification-->  
            <form class="form-auth" id="form-auth" novalidate>
                <!--ceci le titre du formulaire authentification--> 
                <h2 class="title-auth">{{titre}}</h2>
                <!--ceci sont tous les composantes du formulaire authentification--> 
                {{>label-input-nom-utilisateur-authentification}}
                {{>label-input-mot-passe-authentification}}
                <!--ceci est le bouton d'authentification a partir du formulaire authentification -->        
                {{>bouton-authentification}}
            </form>
        </div>
    </div>
</div>