*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*mettre les caracteres en foncer pour la barre de navigation*/
nav{
    font-weight: bolder;
}

/*c est le style pour le bouton inscription*/
.btn-inscription-tournoi{
    display: flex;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border-color: springgreen;
    padding: 100px;
    font-size: 1.7rem;
    font-weight: bolder;
    background-color: springgreen;
    align-items: center;
    overflow: visible;
    position: relative;
    overflow: hidden;
    z-index: 1;
    animation: buttons1 6s forwards, buttons2 4s infinite;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    overflow: visible;
    position: relative;
    text-shadow: 5px 5px 10px  #40b5ad;
}

/*c est le style pour le bouton desinscrire*/
.btn-desinscrire-tournoi{
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 100px;
    font-size: 1.7rem;
    font-weight: bolder;
    align-items: center;
    overflow: visible;
    position: relative;
    overflow: hidden;
    z-index: 1;
    animation: buttons1 6s forwards, buttons2 4s infinite;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    overflow: visible;
    position: relative;
    background-color:rgb(255, 0, 0);
    text-shadow: 5px 5px 10px  white;
}

/*c est le style en faisant le hover pour le bouton desinscrire*/
.btn-desinscrire-tournoi:hover{
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    background-color:#ff0000;
    color: white;
    border-radius: 50%;
}


/*c est le style pour le bouton supprimer*/
.btn-supprimer-tournoi{
    display: flex;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border-color: springgreen;
    padding: 100px;
    font-size: 1.7rem;
    font-weight: bolder;
    background-color: springgreen;
    align-items: center;
    overflow: visible;
    position: relative;
    overflow: hidden;
    z-index: 1;
    animation: buttons1 6s forwards, buttons2 4s infinite;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    overflow: visible;
    position: relative;
    text-shadow: 5px 5px 10px  #40b5ad;
}

/*c est l'animation des boutons*/
@keyframes buttons1{
  0%
  {
    transform:  scale(1); opacity: 0.8;
    font-size:3rem;
    color: black;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    border-radius: 50%;
    align-items: center;
    line-height: 40px;
    overflow: visible;
    position: relative;
  }
  100%
  {
    transform:  scale(0.75); opacity: 0.8;
    font-size:3rem;
    color: black;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    border-radius: 50%;
    align-items: center;
    line-height: 40px;
    overflow: visible;
    position: relative;
  }
}

@keyframes buttons2{
  100%
  {
    transform:  scale(0.5); opacity: 0.8;
    font-size:3rem;
    ccolor: black;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    border-radius: 50%;
    align-items: center;
    line-height: 40px;
    overflow: visible;
    position: relative;
  }
  0%
  {
    transform:  scale(0.25); opacity: 0.8;
    font-size:3rem;
    color: black; 
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    border-radius: 50%;
    align-items: center;
    line-height: 40px;
    overflow: visible;
    position: relative;
  }
}

/*c est le style en faisant le hover pour le bouton supprimer*/
.btn-supprimer-tournoi:hover{
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    background-color:springgreen;
    border-radius: 50%;
}

/*c est le style pour le wallpaper de cs-go*/
.wallpaper-background{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/cs-go-1920x1080-14.jpg);
    background-size: cover; 
    z-index: -1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

/*mettre les caracteres plus foncer de la partie footer*/
footer{
    font-weight: bolder;
}


/*c est le display pour l icon de GitHub de la partie footer*/
#footer-github{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

/*c est le style pour l icon de GitHub de la partie footer*/
.gitHubicon{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(/img/cdnlogo.com_github.svg);
    background-size: cover;
    justify-content:flex-start;
    align-content: flex-end; 
    z-index: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*c est le style pour la carte tournoi parti info*/
.tournoi-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    margin: 10;
    color: black;
}


/*c est le style pour la carte tournoi*/
.tournoi-card{ 
    padding: 2rem;
    margin: 5rem;
    text-decoration:none;
    background: #087ee1;
    border-radius: 1rem;
    text-shadow: 5px 5px 10px  black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}


/*couleur du background de la carte tournoi partie info*/
.tournoi-card-info{ 
    background-color:#feabe6;
}

/*c est le style pour les donnee de tournoi pour la carte tournoi*/
p{
    color:#633633;
    font-weight: bolder;
    font-size: large;
}

/*couleur du background de la carte tournoi*/
.card-background{
    background-color: #92baf4;
}

/*couleur titre des info donnes de la table tounoi*/
span{
    color:white;
}
/*cookie*/
#message-cookie{
    background-color: #087ee1;
    color: white;
    display: flex;
    height: auto;
    position: sticky;
    bottom: 0;
}
#message-cookie p{
    font-size: 1.3rem;
    color: white;
    display: flex;
    z-index: -1;
    
}

#message-login-user{
    background-color: #087ee1;
    z-index: -1;
    color: white;
    display: flex;
    height: auto;
    position: sticky;
    bottom: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    
}
.btn-cookie{
    background-color: #feabe6;
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 25px;
    font-size: 1.7rem;
    font-weight: bolder;
    align-items: center;
    overflow: visible;
    overflow: hidden;
    z-index: -1;
    animation: buttons1 6s forwards, buttons2 4s infinite;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    overflow: visible;
    text-shadow: 5px 5px 10px  white;
}

.btn-deconnexion{
    background-color: #33691e;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    line-height: 64px;
    font-weight: bolder;
    border: transparent;
}

.btn-deconnexion:hover{
    background-color: rgba(0, 0, 0, 0.1);
}