html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
    background-color: #b0d4ff;
}

h1 {
    margin: 0;
    padding: 2rem;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0 0 1rem 0;
}

header nav a {
    color: #000;
}

main {
    max-width: 25rem;
    padding: 1rem;
    margin: 0 auto;
}
