main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main li {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin-bottom: 1rem;
}

main input[type=checkbox]:checked + .texte {
    text-decoration: line-through;
}

main form {
    display: flex;
}

#textbox-todo {
    width: 100%;
    padding: .5rem;
}
